/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* font-family: 'Lustria', serif;
font-family: 'Racing Sans One', cursive; */

html {
     font-size: 62.5%;
}

body {
     font-size: 1.5rem;
     font-family: 'Lustria', serif;
     background-color: white;
}


h1 {
     color: white;
     font-size: 16rem;
     text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.493);
}

h2 {
     font-size: 4rem;
     margin: 30px;
}

h3 {
     font-size: 3.8rem;
     text-align: center;
     margin: 30px;
}


h4 {
     font-size: 1.8rem;
     text-align: center;
     padding-top: 10px;
}

h5 {
     font-size: 2rem;
     font-weight: bold;
     margin-bottom: 15px;
}

strong {
     font-size: 4rem;
     font-weight: bold;
     line-height: normal;
}

nav a {
     font-weight: bold;
}

header {
     background-color: white;     
}

main {
     background: white;
     background-image: url(/img/banner.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position-y: top;
     background-position-x: center;
     height: 100vh;
     box-shadow: inset 0px -0.4px 14.8px -11px rgba(0, 0, 0, 0.001),
                 inset 0px 4.3px 15.7px -11px rgba(0, 0, 0, 0.041),
                 inset 0px 32px 24px -11px rgba(0, 0, 0, 0.15);   

}

p {
     line-height: 1.8;
     text-align: center;
}

.wrapper-two p {
     font-size: 2.1rem;
     padding: 30px 20%;
}


/******************************************
/* LAYOUT
/*******************************************/

body {
     display: flex;
     flex-direction: column;
}

header {
     height: 70px;     
}

.nav {
     display: flex;
     justify-content:space-around;
     padding: 15px;
     align-items: center;
     
}

.container {
     display: flex;
}

main div {
     padding: 200px 5%;
     padding-right: 2%;
     flex-wrap: wrap; 
     justify-content:flex-end;   
}

main div section {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.main-div-two {
     display: flex;
     flex-direction: column;
     align-content: space-around;;
}

.wrapper {
     padding: 80px 5%;
}


.wrapper-one {
     justify-content: center;
}

.sub-container {
     display: flex;
     flex-direction: column;
     align-content: space-around;
}

.wrapper-two, .wrapper-four {
     flex-direction: column;
     text-align: center;
     margin-top: 100px;
}


.team-container {
     justify-content: space-around;

}

.wrapper-three {
     flex-direction: column;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* ---------- img --------------*/

.responsive {
     width: 100%;
     height: auto;
     max-width: 1200px;
   }

.icon {
     margin: 30px;
}

.feature-img, .adbanner {
     box-shadow: 5.3px 7.8px 3.4px rgba(0, 0, 0, 0.054),
                 10.6px 15.5px 11.4px rgba(0, 0, 0, 0.079),
                  26px 38px 51px rgba(0, 0, 0, 0.24);
}

.team {
     box-shadow: 0px 1.1px 1px rgba(0, 0, 0, 0.028),
                 0px 3.8px 3.4px rgba(0, 0, 0, 0.042),
                 0px 17px 15px rgba(0, 0, 0, 0.07);
     margin: 30px;
}

article {
     background: url(/img/adbanner.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-color: #f0f1f3;
     height: 400px;
     box-shadow: 3px 3px 10px black;
}


/* ---------- nav --------------*/


a {
     text-decoration: none;
}

a:visited {
     color: black;
}

.logo {
     font-family: 'Racing Sans One', cursive, Helvetica, sans-serif;
     font-size: 3.5rem;
}

.navIcon {
    height: 30px;
}



/* ---------- main --------------*/



.notice {
     background-color: black;
     background-color: rgba(0, 0, 0, 0.979);
     color: white;
     width: 300px;
     height: 370px;
     padding: 45px;
     line-height: 2;
     margin-right: 100px;
     box-shadow: 6.4px 8px 9.4px -11px rgba(0, 0, 0, 0.064),
                 10.9px 13.5px 11.3px -11px rgba(0, 0, 0, 0.285),
                 15.5px 19.2px 11px -11px rgba(0, 0, 0, 0.545),
                 21px 26px 17px -11px rgba(0, 0, 0, 0.72);
}


.notice a {
     color: white;
}

.notice a:visited {
     color: black;
}

.btn {
     display: block;
     color: white;
     font-weight: bold;
     background-color: black;
     text-align: center;
     height: 60px;
     width: 175px;
     margin-left: 20px;
     margin-top: 30px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.545);
                 
}

.btn,a {
     padding-top: 22px;
}

.btn-two {
     color: black;
     background-color: white;
     margin: 40px auto;
}

.btn-three {
     margin: 50px;
}

.btn-two,a {
     padding-top: 15px;
}

.btn.card {
     margin: 0;
     position: relative;
     top: -60px;
     width: 200px;
     height: 70px;
}

.btn:visited {
     color: white;
}

.card span {
     display: block;
     line-height: 2rem;
}

.flip {
     color: white;
     font-size: 4rem;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
     writing-mode: vertical-rl;
     text-orientation: mixed;
}

.h1-container span {
     font-size: 2.2rem;
     margin: 20px;     
}



/* ----------- wrapper-one -------------*/



.sub-container.icon {
     width: 350px;
     height: 370px;
     padding: 45px;
     line-height: 1.3;
}


/* ----------- wrapper-two -------------*/

.wrapper-two {
     background-color: #dbdbdb;
     line-height: 3rem;
}

.wrapper-two .btn {
     background-color: black;
     margin: 50px auto;
     padding-top: 18px;
     
}



/* ----------- wrapper-three -------------*/




/* ----------- wrapper-four -------------*/

.wrapper-four {
     margin: 0;
}